/*----FONTS----*/
@font-face{
    font-family: 'Baloo';
    src: url('../../../assets/Fonts/Baloo/Baloo-Regular.ttf');
    font-weight: normal;
    font-style: cursive;
}

/*----STYLES----*/
.Loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background: #00C68F;
}

.Vanished{    
    animation-name: myAnimation;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

.Loader p{
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: 100vh; 
    margin: auto;
    font-family: 'Baloo', cursive;
    font-size: 12vw;
}

/*----ANIMATIONS----*/
@keyframes myAnimation{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.75;
        transform: translateY(20%);
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}

/*----MEDIA QUERYS----*/
@media screen and (min-width: 1000px){
    .Loader p{
        font-size: 4vw;
    }
}