/*----FONTS----*/
@font-face{
    font-family: 'Baloo';
    src: url('../../../assets/Fonts/Baloo/Baloo-Regular.ttf');
    font-weight: normal;
    font-style: cursive;
}

@font-face{
    font-family: 'Brandone Grotesque Light';
    src: url('../../../assets/Fonts/Brandone/Brandon_light.otf');
    font-weight: normal;
}


/*----STYLE----*/
.Toolbar{
    position: fixed;
    width: 100%;
    height: 15vh;
}

.Top{
    position: relative;
    display: block;
    top: 0;
    margin: 0;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00C68F;
}
.Top h1{
    font-family: 'Baloo', cursive;
    font-size: 3vmax;
    color: white;
    margin: 0;
}

.Bottom{
    position: relative;
    display: block;
    top: 0;
    margin: 0;
    width: 100%;
    height: 55%;
    background-color: white;
}

.Bottom .View{
    position: relative;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    margin-right: 1vw;
}

.Bottom .MyProfile{
    position: relative;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
}

.Bottom .SearchBar{
    margin: 0;
    margin-right: -24vw;
    display: inline-block;
    width: 40%;
    background-color: #E7F7F8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Bottom .SearchBar:focus-within{
    border: 2px solid #00C68F;
}

.Bottom .SearchBar img{
    height: 1.5vw;
    width: 1.5vw;
    position: relative;
    top: 50%;
    transform: translateY(25%);
    filter: grayscale(100%);
}

.Bottom .SearchBar input{
    border: transparent;
    background-color: transparent;
    width: 93%;
    height: 100%;
    padding: 5px;
    position: relative;
    float: right;
    margin: 0;    
    top: 0;
    font-family: 'Brandone Grotesque Light', cursive;
    font-size: 1vmax;
    color: #505050;
}

.Bottom > .SearchBar > input:focus + img{
    filter: grayscale(0);
}

.Bottom .Active{
    filter: grayscale(0%) !important;
}