/*----FONTS----*/
@font-face{
    font-family: 'Brandone Grotesque Regular';
    src: url('../../../../assets/Fonts/Brandone/Brandon_reg.otf');
    font-weight: normal;
}

/*----STYLE----*/
.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: inline-block;
    width: 8vw;
    height: 100%;
}

.NavigationItem a{
    color: #505050;
    font-family: 'Brandone Grotesque Regular';
    font-size: 1.5vmax;
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1000;
}

.NavigationItem a:hover,
.NavigationItem a:focus{
    background-color: #eee !important;
}

.NavigationItem a:active,
.NavigationItem a.active{
    background-color: #E7F7F8;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: #00C68F;
}

@media (orientation: portrait){
    .NavigationItem{
        width:12vw;
    }

    .NavigationItem a{
        font-size: 2.5vmax;
    }   
}