/*----FONTS----*/
@font-face{
    font-family: 'Brandone Grotesque Regular';
    src: url('../../../assets/Fonts/Brandone/Brandon_reg.otf');
    font-weight: normal;
}

/*----STYLES----*/
:focus {outline:none;}
::-moz-focus-inner {border:0;}

.GeneralButton{
    display: block;
    position: relative;
    font-family: 'Brandone Grotesque Regular';
    font-size: 10px;
    margin-bottom: 2vh;
    min-height: 30px;
    height: 6vh;
    width: 40vmin;
    min-width: 80px;
    padding: 0;
    left: 50%;
    margin-left: -20vmin;
    border-radius: 40px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
}

.GeneralButton:hover,
.GeneralButton:focus{
    box-shadow: 5px 8px 18px #888888;
}

.GeneralButton:disabled,
.GeneralButton:disabled:hover{
    color: rgb(161, 161, 161);
    background: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

.White{
    color: #00C68F;
    background-color: white;
    border: 3px solid #00C68F;
}

.Green{
    color: white;
    background: linear-gradient(to right, #00C68F, #C8F1D4);
    border: transparent;
}

.Green:hover{
    background: linear-gradient(to right, rgb(93, 209, 176), #C8F1D4);
}

.Blue{
    background-color: #2F6AA5;
    color: white;
}

/*----MEDIA QUERYS----*/
@media screen and (min-width: 1000px){
    .GeneralButton{
        font-size: 20px;
        width: 20vw;
        margin-left: -10vw;
        height: 7vh;
    }
}