/*----FONTS----*/
@font-face{
    font-family: 'Brandone Grotesque Regular Italic';
    src: url('../../../assets/Fonts/Brandone/Brandon_reg_it.otf');
    font-weight: normal;
}

/*----STYLES----*/
.Input{
    width: 94%;
    left: 3%;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2vh;
}

.Input img{
    position: relative;
<<<<<<< HEAD
    width: auto;
    height: 2vh;
||||||| 6568df6... Dashboard
    width: 2vh;
    height: 2vh;
=======
    width: 7%;
    height: 7%;
>>>>>>> parent of 6568df6... Dashboard
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 0;
    background-color: white;
    padding: 10px 10px;
    display: inline-block;
    font-size: 3vh;
    width: 90%;
    box-sizing: border-box;
    font-family: 'Brandone Grotesque Regular Italic';
    margin: 0;
    color: rgb(0, 1, 63);
    margin-right: 2%;
}

.InputElement:focus{
    outline: none;
    background-color: rgb(241, 241, 241);
}

.Invalid{
    border: 1px solid red;
    background-color: #FDA49A;
}

@media screen and (max-height: 500px){
    .InputElement{
        padding: 3px 3px;
        font-size: 2vh;
    }
}