/*----FONTS----*/
@font-face{
    font-family: 'Brandone Grotesque Medium';
    src: url('../../../../assets/Fonts/Brandone/Brandon_med.otf');
    font-weight: normal;
}

/*----STYLE----*/
.MyProfile{
    width: 100%;
    height: 100%;
}

.MyProfile button{
    background: transparent;
    border: transparent;
    margin: 0;
    padding: 0;
    width: 3vw;
    height: 3vw;
    position: relative;
    float: left;
    top: 50%;
    margin-top: -1.5vw;
    cursor: pointer;
    padding: 2px;
}

.MyProfile button:hover,
.MyProfile button:focus{
    height: 3.1vw;
    width: 3.1vw;
}

.MyProfile button:focus{
    border: 1px solid #ccc;
}

.MyProfile img{
    width: 100%;
    height: 100%;
    position: relative;
}

.MyProfile > div{
    float: left;
    position: relative;
    height: 100%;
    margin-left: 1vw;
}

.MyProfile > div > p{
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    text-align: left;
    font-family: 'Brandone Grotesque Medium';
    
}

.MyProfile .DisplayName{
    color: #00C68F;
    font-size: 1.5vmax;
    margin-top: -1.5em;
}

.MyProfile .Info{
    color: #ccc;
    font-size: 1vmax;
    margin-bottom: -2.5em;
}


.MyProfile > div > p {
    margin: 0 0 5px 0;
}