.ViewItem{
    width: 2.5vw;
    height: 2.5vw;
    display: inline-block;
    position: relative;
    border: transparent;
    cursor: pointer;   
    padding: 0;
    background-size: 100% 100%;
    filter: grayscale(100%);
    margin-left: 1vmin;
}

.View_2{
    background-image: url('../../../../assets/Icons/view-2.png');
}

.View_4{
    background-image: url('../../../../assets/Icons/view-4.png');
}

.View_6{
    background-image: url('../../../../assets/Icons/view-6.png');   
}

.ViewItem:hover{
    filter: grayscale(70%);
}

.ViewItem:focus{    
    filter: grayscale(70%);
    border: 1px solid rgb(0, 198, 143);
}